@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
scroll-behavior:smooth;
}

:root{
--background-color-container-found:#9D30FE;
--background-dark-section-alfaTech:#271f2e;
--background-dark-section-alfaTech-button:#433053;
}

*{
margin:0;
padding:0;
font-family:"Roboto";
text-decoration:none;
list-style:none;
box-sizing:border-box;
} 

body{
width:100%;
height:100%;
}

div{
width:100%;
}

.Header-Alfa-Tech{
padding:35px 0;
}

.Img-Alfa-Tech-Logo{
max-width:1024px;
width:80%;
margin:0 auto; 
display:flex;
justify-content:space-between;   
align-items:center;
}

 .Tech-group{
display:flex;
width:350px;
}

.Img-Alfa-Tech-Logo .Tech-group h2, 
.Img-Alfa-Tech-Logo .Tech-group p{
margin:10px;
}

.Img-Alfa-Tech-Logo .Tech-group p{
color:var(--background-color-container-found);
}

.Img-Alfa-Tech-Logo img{
width:100px;
}

.Navigation-Alfa-Tech{
display:flex;
}

.Navigation-Alfa-Tech li{
padding:10px;
margin:0 10px;
background:var(--background-color-container-found);
border-radius:5px;
}

.Navigation-Alfa-Tech li:hover{
background:#ffffff;
}

.Navigation-Alfa-Tech li:hover a {
transition:.5s ease-in;
color:var(--background-color-container-found);
}

.Navigation-Alfa-Tech li a{
color:#ffffff;
}

.Info-Alfa-Tech, .Section-Services-AlfaTech{
background:var(--background-color-container-found);
padding:85px 0;
width:100%;
height:100%;
}

.Section-Services-AlfaTech{
background-color:#fff;
height:50%;
font-family:"roboto"
}

.container-text-alfa-tech{
max-width:80%;
margin:0 auto;
display:flex;
align-items:center;
justify-content:space-around;
}

table{
width:100%;
height:100%;
padding:15px;
border-spacing:0;
table-layout: fixed;
}

table tr{
border-right:2px solid #111;
}

table tr td p{
font-size:18px;
color:#757575;
}

.background-table-color{
background-color:#f1f1f1;
}

table tr th, table tr td{
padding:15px;    
}
 

table tr td{
text-align:center;
}

table tr td img{
width:50%;
}

.shadow{
box-shadow:2px 3px 7px 5px #9D30FE56;
border-radius:5px;
}

.container{
width:50%;
}

.container-fifity{
width:50%;
margin:15px;
padding:15px;
box-shadow:2px 5px 5px inset #c300ff48;
border-radius:5px;
}

.container-fifity img{
width:100px;
text-align:center;
margin:15px;
}

.Heading-global, .paragraph-alfaTech{
margin:0 0 15px 0;
}

.Heading-global{
font-size:44px;
font-weight:normal;
color:#fff;
font-family: "Lora";
}

.tamanho-pequeno{
font-size:22px;
}

.color-purple-escuro{
color:var(--background-dark-section-alfaTech);
text-align:center;
}

span{
color:var(--background-color-container-found);
font-weight:normal;
}

.paragraph-alfaTech{
font-size:18px;
color:#fff;
letter-spacing:1px;
}

.Section-Alfa-Tech-Global{
padding:35px 0;
background:var(--background-dark-section-alfaTech);
}

.botão-ancora{
color:#fff;
padding:15px;
background-color:var(--background-color-container-found);
width:250px;
text-align:center;
display:inline-block
}

.botão-ancora img{
margin:0 5px 0  0;
}

.botão-ancora:hover{
color:#fff;
background-color:var(--background-dark-section-alfaTech-button);
transition:.3s ease-in;
}

figure{
text-align:center;
display:flex;
justify-content: center;
}

figure .Tech-group p{
color: #8700ff;
}

.text-dark{
color:rgb(70, 70, 70);
margin:15px ;
line-height:25px;
text-align:center;
font-size:15px;
}

.color-purple{
color:var(--background-color-container-found);
}

.Section-Services-AlfaTech .info-pre-rodape{
width:50%;
margin:10px auto
}

.info-pre-rodape img{
width:100px;
}

.info-pre-rodape h3{
text-align:center;
color:#433053;
margin:15px 0;
}

.info-pre-rodape p{
margin:10px 0;
text-align:center;
}

.padding-zero{
padding:20px 0 0 0;
}

.Rodape-The-final{
width:100%;
padding:15px 0;
background:#9D30FE;
color:#fff;
text-align:center;
}

.Rodape-The-final a{
color:#f1f1f1;
font-weight:bold;
}

.color-diferent{
background:var(--background-color-container-found);
}

.anchor-diferent{
background: var(--background-dark-section-alfaTech);
}

.anchor-diferent:hover{
background-color:#8700ff;
transition:.3s ease-in;
}

@media(max-width:768px){
 

table{
width:125%;
}
 
.Tech-group{
width:100%;
}

.shadow tr th h2, .shadow tr td p,.shadow tr th, .shadow tr td{
font-size: 11px;
padding:9px;
width:100%;
}

.Img-Alfa-Tech-Logo{
flex-direction:column; 
align-items:center;
}    

.Navigation-Alfa-Tech{
flex-direction:column;
}

.Navigation-Alfa-Tech li{
margin:5px 0;
}

.Navigation-Alfa-Tech, 
.botão-ancora{
margin:12px 0;
}

.container-fifity{
margin:10px auto;
width:100%;
}

.container img{
display:none;
}

.container{
width:100%;
}

.container-text-alfa-tech{
display:block;
}

.width-total{
margin:0;
}

}

@media(max-width:1109px){
.container-text-alfa-tech{
flex-direction:column;
align-items: start;
}    

.container-fifity{
margin:20px auto;
}

.botão-ancora{
margin:12px 0;
display:block;
text-align:center;
width:200px;
}

.container{
width:100%;
}

}
